.icon {
  &--clear-view-escapes {
    background-image: url(../../../icons/clear-view-escapes.svg);
    width: 142.1px;
    height: 60px;
  }
  &--comment {
    width:64px;
    height:64px;
    background-image: url(../../../icons/comment.svg);
  }

  &--facebook {
    width:21.23px;
    height:42.01px;
    background-image: url(../../../icons/facebook.svg);
  }

  &--fire {
    width:56px;
    height:64px;
    background-image: url(../../../icons/fire.svg);
  }

  &--globe {
    width:64px;
    height:64px;
    background-image: url(../../../icons/globe.svg);
  }

  &--instagram {
    width:42.01px;
    height:42.01px;
    background-image: url(../../../icons/instagram.svg);
  }

  &--mail {
    width:66px;
    height:50px;
    background-image: url(../../../icons/mail.svg);
  }

  &--rain {
    width:64px;
    height:64px;
    background-image: url(../../../icons/rain.svg);
  }

  &--star {
    width:64px;
    height:64px;
    background-image: url(../../../icons/star.svg);
  }

  &--twitter {
    width:51.78px;
    height:42.06px;
    background-image: url(../../../icons/twitter.svg);
  }

  &--wifi {
    width:60px;
    height:64px;
    background-image: url(../../../icons/wifi.svg);
  }

  &--youtube {
    width:34.75px;
    height:42px;
   background-image: url(../../../icons/youtube.svg);
  }
}