.row{

    @mixin clearfix;

    &--t-padding{
      padding-top: 80px;
    }

    &--b-margin-until-medium{
      margin-bottom: 1rem;
    }

    @mixin tablet_XD{

      &--b-margin-until-medium{
        margin-bottom: 0;
      }

      &--gutters > div{
        padding-right: 65px;
      }

      &--gutters-large{
        margin-right: -100px;
      }

      &--gutters-small{
        margin-right: -45px;
      }

      &--gutters-small > div{
        padding-right: -45px;
      }

      &--gutters-large > div{
        padding-right: 100px
      }

      &--medium-4{
        float: left;
        width: 33.33%;
      }



      &--medium-6{
        float: left;
        width: 50%;
      }

      &--medium-4--larger{
        width: 37%;

      }

      &--medium-8{
        float: left;
        width: 66.66%;
      }

      &--medium-8--smaller{
        width: 63%;

      }

    }

    @mixin laptop{

      &--b-margin-until-large{
        margin-bottom: 0;
      }

      &--gutters > div{
        padding-right: 65px;
      }

      &--gutters-large{
        margin-right: -100px;
      }

      &--gutters-small{
        margin-right: -45px;
      }

      &--gutters-small > div{
        padding-right: -45px;
      }

      &--gutters-large > div{
        padding-right: 100px
      }

      &--large-4{
        float: left;
        width: 33.33%;
      }

      &--large-6{
        float: left;
        width: 50%;
      }

      &--large-4--larger{
        width: 37%;

      }

      &--large-8{
        float: left;
        width: 66.66%;
      }

      &--large-8--smaller{
        width: 63%;

      }

    }
  /*Begin Equal Height Rules*/
    .flexbox &--equal-height-at-medium{
      @mixin tablet_XD{
        display: flex;
      }
      & > div{
        float:none;
        display:flex;
      }
    }

    .flexbox &--equal-height-at-large{
      @mixin laptop{
        display: flex;
      }
      & > div{
        float:none;
        display:flex;
      }
    }

}
