.section-title{
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;
  padding-bottom: 2rem;

  &--blue{
    color: $blue;
  }
  &--less-margin{
    margin-bottom: 1.3rem;
    margin-top: 0;
  }

  @mixin mobile_LG{
    font-size: 3.75rem;
  }

  strong{
    font-weight: 500;
  }

  &--icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;

    @mixin mobile_LG{
      position: relative;
      top: 8px;
      margin-right: 0.5rem;
      margin-left: 0;
      display: inline-block;
      margin-bottom: 0;
    }
  }
  &__img {
    width:66px;
    height:66px;
  }
}