.site-header {
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: background-color .3s ease-out;

 &--is-expanded{
   background-color: rgba($blue,0.55);
 }
  @mixin tablet_XD{
    position: fixed;
    background-color: rgba($blue, 0.3);

    &--dark{
      background-color: rgba(23, 51, 71, 0.85);
    }
    &--light{
      background-color: rgba($blue,0.55);
    }
  }

  &--btn-container{

    @mixin tablet_XD{
      float: right;
    }

  }

  &--logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%) scale(0.8);
    transform-origin: 50% 0;
    background-color: $blue;
    padding: 25px 36px;
    transition: transform .3s ease-out;

    @mixin tablet_XD{
      left: auto;
      transform: translateX(0);

      .site-header--dark &{
        transform: scale(0.56);
      }
    }
  }

  &--logo--graphic{
    text-indent: -9999px;
  }

  &--menu-content{
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    @mixin tablet_XD{
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible{
      display: block;
      opacity:1;
      z-index: 1;
      transform: scale(1);
    }
  }

  &--menu-icon{
    width: 20px;
    height: 19px;

    position: absolute;
    top:10px;
    right: 10px;
    z-index: 10;

    &::before{
      content: "";
      position: absolute;
      top:10;
      right:10px;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }
    &--middle{
      position: absolute;
      top:8px;
      right:10px;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }
    &::after{
      content:"";
      position: absolute;
      top:16px;
      right:10px;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin tablet_XD{
      display: none;
    }
  }

  &--menu-icon--close-x{

    &::before{
      transform: rotate(45deg) scaleX(1.25);
    }
    .site-header--menu-icon--middle{
      opacity: 0;
      transform: scaleX(0);
    }

    &::after{
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }


  }
}