html {
	scroll-behavior: smooth;
	scroll-padding-top: 82px;
}
body {
	scroll-padding-top: 82px;
	font-family: $roboto;
	color: $pencil;
	background-color: rgba($secondary, 0.5);
	background-color: $light;
}
img {
	width: 100%;
	height: auto;
}
* {
	box-sizing: border-box;
}

a {
	color: $info;
}
